<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Conferencename:</strong>
  <%= @publication.conferenceName %>
</p>

<p>
  <strong>Location:</strong>
  <%= @publication.location %>
</p>

<p>
  <strong>Year:</strong>
  <%= @publication.year %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
