<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstName %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Publications: <ins><%= @publications.length %></ins></strong>
  <ul>
	<% if @publications.empty? %>
		<i>Nothing written, maybe a mistake.</i>
	<% end%>
	<% @publications.each do |publication| %>
		<ol><%= link_to publication[:title], publication_path(publication) %></ol>
	<% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
